:root {
    --main-color: #4e73df;
    --main-green: #1cc88a;
    --main-white: rgba(255, 255, 255, 0.911);
    --main-error: rgba(255, 142, 142, 0.219);
    --main-input-opacity:rgba(255, 255, 255, 0);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--main-white);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background-color: /* var(--main-color) */ #003363;
    border-radius: 50px;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background-image:url(https://xintel.com.ar/img/nue/fd/01.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    color:#000500;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: center;
}

.card {
    background-color: var(--main-white);
}

.label-input {
    font-size: 96%;
}

.label-select {
    font-size: 96%;

}

select::-webkit-scrollbar {
    width: 10px;  
}

select::-webkit-scrollbar-track {
    background: var(--main-color);     
}

select::-webkit-scrollbar-thumb {
    background-color: #CFCFCD;  
    border-radius: 20px;       
    border: 3px solid var(--main-color);  
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.row {
    justify-content: center;
}

.tab {
    display:none;
}
/* ARREGLAR -> LOS 2 EN LA MISMA CLASE */
input.invalid {
    background-color: #ffdddd;
}

input.valid {
    background-color: var(--main-white);
}

.step {
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.active {
    opacity: 1;
}

.incomplete {
    background-color: red;
}

.finish {
    background-color: #04AA6D ;
}

label {
    display:flex;
}

select {
    border:none;
    background:none;
    outline:none;
    margin-top: 15px;
    width:100%;
}

input {
    border:none;
    outline:none;
    margin-top:15px;
    width:100%;
}

form {
    margin-bottom:5%;
}

.select-form {
    position:relative;
    border-radius: 3px;
    position:relative;
    margin: 50px 0;
}

.select-form select {
    width:100%;
    padding:0 5px;
}

.form-row {
    justify-content: center !important;
    margin-right: -50px;
    margin-left: -50px;
}

.card-body {
    padding:0 !important;
}

.input-form {
    position:relative;
    margin: 50px 0;
}

.input-form input {
    padding:0 5px;
    outline:none;
}

.form-block {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: 60%;
    position: relative;
}

.form-block:last-child {
    margin-bottom: 0;
}

/* SELECTS */

.form-block select {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 2px solid black;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
    outline: 0;
}

.form-block select + label {
    pointer-events: none;
}

.form-block select + label:after {
    content: attr(data-placeholder);
    display: block;
    position:absolute;
    top: -10%;
    left: 0.5rem; 
    transform: translate(-2.5%, 50%);
    transition: all 0.75s ease-in-out;
    padding: 0 0.25rem;
}

.form-block select:focus, .form-block select:valid {
    border-bottom: 2px solid var(--main-color);
}

/*  REVISAR */
.label-select select:focus + label:after, .label-select select:valid + label:after {
    /* transform: translate(-7.5%, -25%) scale(0.9, 0.9); */
    color: var(--main-color);
}

/* INPUT TEXT */

.form-block input {
    background-color:  var(--main-input-opacity);
    box-sizing: border-box;
    width: 100%;
    border-bottom: 2px solid black;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
    outline: 0;
}

.form-block input + label[data-placeholder] {
    pointer-events: none;
}

.form-block input + label[data-placeholder]:after {
    content: attr(data-placeholder);
    display: block;
    position:absolute;
    top: -20%;
    left: 3%;
    transform: translate(-2.5%, 50%);
    transition: all 0.75s ease-in-out;
    padding: 0 0.25rem;
    margin-top: 3%;
}

.form-block input:focus, .form-block input:valid {
    border-bottom: 2px solid var(--main-color);
}

.form-block input:focus + label[data-placeholder]:after, .form-block input:valid + label[data-placeholder]:after {
    transform: translate(-7.5%, -25%) scale(0.9, 0.9);
    color: var(--main-color);
}

/* INPUTS NUMBER */
/* 
.form-block input[type=number] {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 2px solid black;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
    outline: 0;
}

.form-block input[type=number] + label[data-placeholder] {
    pointer-events: none;
}

.form-block input[type=number] + label[data-placeholder]:after {
    content: attr(data-placeholder);
    display: block;
    position:absolute;
    top: -15%;
    left: 0.5rem;
    transform: translate(-2.5%, 50%);
    transition: all 0.75s ease-in-out;
    padding: 0 0.25rem;
}

.form-block input[type=number]:focus, .form-block input[type=number]:valid {
    border-bottom: 2px solid var(--main-color);
}

.form-block input[type=number]:focus + label[data-placeholder]:after, .form-block input[type=number]:valid + label[data-placeholder]:after {
    transform: translate(-7.5%, -25%) scale(0.9, 0.9);
    color: var(--main-color);
    background-color: none;
} */

/* INPUT FILE */

.form-block input[type=file] {
    display: none;
}

.form-block .label-file {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 2px solid black;
    border-radius: 3px;
    outline: 0;
    padding: 0 0.25rem;
}

/* OTHERS */

.divisor {
    border: 1px solid var(--main-color);
    border-radius: 2px;
    margin: 50px auto 50px auto;
    position: relative;
    width: 75%;
    width: auto;
}

#adv {
    display: none;
    color: #e74a3b;
    font-weight: bold;
    font-size: 30px;
}

.btn-gray {
    background-color: #909397;
    color: var(--main-white);
}

.btn-green {
    background-color: var(--main-green);
    color: var(--main-white);
}

.btn-plus {
    display: block;
    margin: auto;
}

.btn:focus {
    box-shadow: 0 0 0 0.25rem #4e72df60 !important;
}

.modal-footer {
    justify-content: center;
}

/* MULTISELECT */

.input-select {
    background-color: var(--main-white);
    width: 90% !important;
}

.inputCheckbox {
    margin-top: 0px;
    width: auto !important;
}

.select-field,.task,.list{
    width: auto;
    padding: 0.3rem;
}
.list{
    box-shadow: 0 30px 60px rgb(0,0,0,0.2);
    display: none;
}
.down-arrow{
    font-size: 1.2rem;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s linear;
    /* border-bottom: 2px solid black;
    border-bottom-right-radius: 2px solid black; */

}
.task{
    display: block;
    padding-left: 0;
}

.task span{
    float: right;
    font-size: 0.6rem;
    padding-top: 6px;
}

.show{
    display: block;
}

.rotate180{
    transform: rotate(-90deg);
}

/* Double line */

.double-line input + label[data-placeholder]:after {
    content: attr(data-placeholder);
    display: block;
    position:absolute;
    top: -20%;
    left: 3%;
    transform: translate(-2.5%, -40%);
    transition: all 0.75s ease-in-out;
    padding: 0 0.25rem;
    margin-top: 3%;
}

.double-line input:focus + label[data-placeholder]:after, .double-line input:valid + label[data-placeholder]:after {
    transform: translate(-7%, -70%) scale(0.9, 0.9);
    color: var(--main-color);
    background-color: none;
}

@media only screen and (min-width:1366px) and (max-width:1920px) {

    .double-line-query input + label[data-placeholder]:after {
        content: attr(data-placeholder);
        display: block;
        position:absolute;
        top: -20%;
        left: 3%;
        transform: translate(-2.5%, -40%);
        transition: all 0.75s ease-in-out;
        padding: 0 0.25rem;
        margin-top: 3%;
    }
    
    .double-line-query input:focus + label[data-placeholder]:after, .double-line-query input:valid + label[data-placeholder]:after {
        transform: translate(-7%, -70%) scale(0.9, 0.9);
        color: var(--main-color);
        background-color: none;
    }

    .input-select {
        background-color: var(--main-white);
        width: 93.5% !important;
    }
}

.initial {
    animation-duration: 2s;
    animation-name: slide;
}

@keyframes slide {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }
}